.customisedCheckbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    .input {
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
        font-weight: bold;
        color:var(--dark-green);
        cursor: pointer;
        .form-check-input {
            display: none;
        }
        .form-check-input:checked[type=checkbox] {
        
            border: 1px solid #DBDBDB;
            border-radius: 4px;
           background: none;
    
        }
        .form-check-label {
            cursor: pointer;
        }
    }
    
    .checkIcon {
        width:21px;
        height: 15px;
        color:var(--dark-green);
        font-weight:bold;
    }
}