.inputGroupWithIcon {
    position: relative;
    line-height:1.1em ;
    height: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding:0.5em 2.9em 0.5em 0 ;
    border:1px solid rgb(165, 157, 157,0.4);
    &:focus {
       
    }
    .inputLabel {
        background-color: transparent;
        border-right: none;
        
    }
    .inputLabel {
        position: absolute;
        left:5%;
        top:30%;
        display: flex;
        z-index: 1;
        color:rgb(131, 126, 126,0.4);
        background-color: white;
        align-items: center;


            .inputIcon {
                margin-right: 10px;
                margin-left: 10px;
               
            }
        
    }
    .input {
        background-color: transparent;
        z-index: 2;
      
        height: 100%;
        border:none;
        &:focus,&::selection {
                      
            box-shadow: 2px 0px  2px var(--dark-geen);
        }
    }
    
    .valid-feedback {
        display: block;
        color:red;
        position:absolute;
        bottom:0%;
        z-index: 4;
        left:40%
    }
    .passwordIcon {
        width:30px;
        height: 30px;
        position: absolute;
        right: 1%;
        top:25%;
        z-index: 3;
        cursor: pointer;

    }
    .see {
        filter: invert(97%) sepia(16%) saturate(155%) hue-rotate(281deg) brightness(80%) contrast(91%)
    }

}
.inputGroupWithIcon.is_valid {
    border: 1px solid red;
    
}
@media screen and (max-width:567px) {
    .inputGroupWithIcon {
        .passwordIcon {
            width:20px;
            height: 20px;
        }
    }
}