.profileContainer {
    min-height: 100vh;
    padding: 0.5rem;
    max-width: 100vw;
    overflow-x: hidden;
    .bg-profile{
        background-color: white;
        border-radius: 10px;
    }
    .fixedPart {
      
       min-height: 70%;
    }
    .user {
  
        .profilePicture{
            max-width: 80px;
            max-height: 80px;
            border-radius: 100%;
        }
        .profilePicture.lg-view {
            width: 80px;
            height: 80px;
        }
        .text {
          font-size: 16px;
        }
    }
    .tab {
        color:var(--light-gray);
         text-align: center;
         position: relative;
         transition: all .3s ease;
         padding: 5px 0px;
         cursor: pointer;
         &::after {
             content: '';
             height: 2px;
             width: 100%;
             background-color: var(--light-gray);
             position: absolute;
             bottom: 0;
             left: 0;
         }  
     }
     .tab.active-tab {
         font-weight: bold;
         color:black;
         &::after {
             content: '';
            
             background-color: var(--light-green);
            
         }  
     }
     .file {
        box-shadow: 2px 2px 2px var(--light-gray),2px 2px 2px var(--light-gray);
        border-radius: 10px;
        padding: 0.6rem;
        border:1px solid var(--light-gray);
    }
    .scrollablePart {
  
        overflow-y: scroll;
        max-height: 80vh;
        min-height: 80vh;
        overflow-x: hidden;
        
        &::-webkit-scrollbar {
            display: none;
        }
       
     
    }
    .infoContainer {
        .phoneNumber {
            background-color: var(--back-color);
            border-radius: 10px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5em;
            span {
                font-size: 0.8rem;
                padding: 1px;
                
            }
            .icon {
                position: absolute;
                right: 0;
                top: 0;

            }
        }
    }
    .deleteIcon {
        border:2px solid white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .4s ease-in-out;
        position:absolute;
        top:-5px;
        right: -5px;
        background-color: var(--dark-green);
        padding: 1px;
        width: 40px;
        height: 40px;
        cursor: pointer;

        img {
            width:10px;
            height: 15px;
            cursor: pointer;
        
        }
        &:hover,&:focus {
            animation: shake 1s linear  1 forwards ;
            

        }
        @keyframes shake {
            0%{
                transform: rotateZ(45deg);
            }
            50% {
                transform: rotateZ(-45deg);
            }
            100%{
                transform: rotateZ(0deg);
            }
            
        }
        
    }
    .uploadedImageContainer {
        position: relative;
        height: 120px;
        width: 120px;
      
        .deleteIcon {
            border:2px solid white;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .4s ease-in-out;
            position:absolute;
            top:0;
            right: 0;
            background-color: var(--dark-green);
            padding: 1px;
            width: 40px;
            height: 40px;
            cursor: pointer;

            img {
                width:10px;
                height: 15px;
                cursor: pointer;
            
            }
            &:hover,&:focus {
                animation: shake 1s linear  1 forwards ;
                

            }
            @keyframes shake {
                0%{
                    transform: rotateZ(45deg);
                }
                50% {
                    transform: rotateZ(-45deg);
                }
                100%{
                    transform: rotateZ(0deg);
                }
                
            }
            
        }
        .uploadedImage {
            max-width: 100%;
            max-height: 100%;
            border-radius: 10px;
            object-fit: cover;
            height: 100%;
            width:120px;
            height: 120px;
        }
    }
}
.fowllowingFollowers {
    .bg {

        
        height: 30px;
        background-color: var(--back-color);
        color:black;
        border-radius: 5px;
        font-size: 14px;
        padding: 0.5em;
        font-weight: bold;
    }
    .double-width {
        width: 100%;
    }
    .double {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        div {
            span {
                margin:0 2px;
            }
        }
        .verticalLine {
            height: 50%;
            width: 2px;
            background-color: black;
        }
    }
    .single-width {
        width: 130px;
    }
    .single {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        div {
            span {
                margin:0 2px;
            }
        }
    }
    
}
.socialMediaContainer {
    min-height: 8.1rem;
}

@media only  screen  and (max-width:567px) {
    .profileContainer{
        padding: 0 ;
        max-height: 100vh;
        .mobileViewScroll {
          height: 150vh;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .h-20vh {
            height: 20vh;
        }
        .user {
            
        }
        .h-100vh {
            height: 100vh;
        }
        .infoContainer {
            .phoneNumber{
                white-space: initial;
                span{
                    font-size: 0.6rem;
                    padding: 0.7em;
                    
                }
            }
        }
        
    }
}