.customSelect {
    display: flex;
    justify-content: center;
    max-width: 220px;
    max-height: 50px;
    align-items: center;
    min-width: 100%;
    .dropdown {
        padding:1em;
    
        button.dropdown-toggle {
            background-color: transparent;
            color:black;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgb(173, 171, 171,0.4);
            padding:5px;
        
          
            a {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

              
                .icon {
                    width: 30px;
                    height: 20px;
                    margin-left: 1em;
                    margin-right: 1em;
                }
            }
            &::after {
                margin-left: 0.5em;
                margin-right: 0.5em;
                
                
            }
        }
        .optionStyle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .icon {
                width: 30px;
                height: 20px;
            }
        }
    }
}
@media screen and (min-width:567px) and (max-width:1024px) {
    .customSelect {
        .dropdown {
           .dropdown-menu {
            min-width: 90%;
           }
            
            button.dropdown-toggle {
                a {
                    .icon {
                        width: 15px;
                        height: 15px;
                        margin-left: 1vmin;
                        margin-right: 1vmin;
                    }
                }
            }
        }
    }
    
}