.chatRow {
    padding-inline-end: 5rem !important;
    column-gap: 3rem;
    padding-inline-start: 1rem !important;
    max-width: 1570px;

    .contactsCol {
        background: #fff;
        border-radius: 20px;
        flex-direction: column;
        overflow-x: hidden;

        .chatInnerContactRowSearch {
            width: 100%;
            padding: 15px 0;
        }
    }

    .chatCol {
        background: #fff;
        overflow-x: hidden;
        border-radius: 20px;
    }

    .searchChat {
        height: 46px;

        .inputLabel {

            img {
                filter: invert(100%) sepia(7%) saturate(649%) hue-rotate(198deg) brightness(116%) contrast(91%);
            }
        }
    }

    .allContactsRow {
        max-height: 65vh;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 3px;
        }

        & ::-webkit-scrollbar-track {
            background: #f1f1f1 !important;
        }

        & ::-webkit-scrollbar-thumb {
            background: #888 !important;
        }

        & ::-webkit-scrollbar-thumb:hover {
            background: #555 !important;

        }

        &::-webkit-scrollbar-track {
            box-shadow: none;
            border-radius: 10px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #75d99c61;
            border-radius: 10px;
        }
    }

    .contctElement {
        width: 100%;
        position: relative;
        place-content: space-between;
        padding: 12px;
        cursor: pointer;
        background: none;
        box-shadow: none;
        transition: all 0.2s ease-in-out;


    }

    .contctElement:hover,
    .activeChat {
        background: #F3F3F3;
        box-shadow: 200px 0px 0px #f3f3f3, -200px 0px #f3f3f3;
    }

    .contctElement.chatHeader {
        background: none !important;
        box-shadow: none !important;
        padding-block: 10px;
        cursor: default;

        .contactName {
            top: 5px;
        }
    }

    .contactTextParent {
        align-items: center;
        column-gap: 15px;
        padding-inline-end: 15px;
    }

    .contactImgCont {
        position: relative;
        width: 40px;
        height: 40px;
        display: block;
        border-radius: 50%;
        min-width: 40px;
    }

    .contactName,
    .contactLAstMSG {
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
    }

    .timeAndMSG {
        display: flex;
        flex-direction: column;
        /* background: rebeccapurple; */
        justify-content: space-evenly;
    }

    .contactName {
        font: normal normal 600 14px Cairo;
        letter-spacing: 1.01px;
        color: #000000;
        top: 1px;


    }

    .contactLAstMSG {
        font: normal normal 600 12px Cairo;
        letter-spacing: 0.86px;
        color: #DBDBDB;
        bottom: 1px;

    }

    .contactImg {
        position: absolute;
        width: 40px;
        height: 40px;
        display: block;
        border-radius: 50%;
       
    }

    .statusCircle {
        display: block;
        position: absolute;
        height: 12px;
        width: 12px;
        border: 2px solid white;
        border-radius: 50%;
        right: -1px;
        bottom: 0px;
        left: unset;
    }

    .online {
        background: #75D99C;
    }

    .offline {
        display: none;
    }

    .msgsNumber {
        width: 21px;
        height: 21px;
        background: #75D99C 0% 0% no-repeat padding-box;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font: normal normal bold 10px Cairo;
        letter-spacing: 0px;
        color: #FFFFFF;
        min-width: -moz-fit-content;
        min-width: fit-content;
        margin-inline: auto;
    }

    .timeCont {
        font: normal normal 600 12px Cairo;
        letter-spacing: 0.86px;
        color: #75D99C;
        text-align: center;
    }

    .divider {
        height: 3px;
        display: block;
        background: #fbfbfb;
        width: 160%;
        margin-inline-start: -50%;
    }

    .chatMessages {
        height: 50vh;
        overflow-y: scroll;
        display: block;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            width: 3px;
        }

        & ::-webkit-scrollbar-track {
            background: #f1f1f1 !important;
        }

        & ::-webkit-scrollbar-thumb {
            background: #888 !important;
        }

        & ::-webkit-scrollbar-thumb:hover {
            background: #555 !important;

        }

        &::-webkit-scrollbar-track {
            box-shadow: none;
            border-radius: 10px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #75d99c61;
            border-radius: 10px;
        }
    }

    .chatMSG {
        display: flex;
        width: 86%;
        column-gap: 15px;
        margin-bottom: 12px;
        align-items: flex-end;
    }

    .chatimgCont {
        position: relative;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: block;
        margin-bottom: 0;
        margin-top: auto;
    }

    .chatIMG {
        height: 25px;
        width: 25px;
        border-radius: 50%;
    }

    .statusCircleChat {
        display: block;
        position: absolute;
        height: 8px;
        width: 8px;
        border: 1px solid white;
        border-radius: 50%;
        right: unset;
        bottom: -2px;
        left: 0px;
    }

    .formOtherUser {
        flex-direction: row-reverse;
        margin-inline-end: 0px;
        margin-inline-start: auto;
    }

    .iAmSender {
        padding: 10px;
        letter-spacing: 1.01px;
        font: normal normal 600 14px/21px Cairo;
        letter-spacing: 1.01px;
        color: #000000;
        border-radius: 10px 10px 10px 0px;
        background: #F3F3F3;
    }
    .chat-msg-status {
        max-width: 15px;
        max-height: 15px;
        width:15px;
        height: 15px;
        min-width: 15px;
        min-height: 15px;
    }
    .otherUserSender {
        padding: 10px;
        letter-spacing: 1.01px;
        font: normal normal 600 14px/21px Cairo;
        letter-spacing: 1.01px;
        background: #75D99C;
        color: #fff;
        border-radius: 10px 10px 0px 10px;
    }

    .otherUserSender.dublicateSender,
    .iAmSender.dublicateSender {
        border-radius: 10px 10px 10px 10px;
    }

    .msgInput {
        height: 43px;

        .valid-feedback {
            display: none;
        }
    }

    .sendMSGBTN {
        outline: none !important;
        border: none !important;
        color: #fff;
        background: #75d99c;
        height: 43px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 7px;
        border-radius: 10px;
        font: normal normal bold 14px Cairo;
    }

}

.chatRow.chatRowAr {

    .contactLAstMSG,
    .otherUserSender,
    .iAmSender,
    .sendMSGBTN,
    .contactName {
        letter-spacing: normal;
    }

    .iAmSender {
        border-radius: 10px 10px 0px 10px;
    }

    .otherUserSender {
        border-radius: 10px 10px 10px 0px;
    }

    .statusCircleChat {
        right: -1px;
        left: unset;
    }

    .statusCircle {
        right: unset;
        left: -1px;
    }

    .otherUserSender.dublicateSender,
    .iAmSender.dublicateSender {
        border-radius: 10px 10px 10px 10px;
    }

    .sendMSGBTN img {
        transform: rotateZ(180deg);
    }
}

.contactsView {
    .contactsCol {
        display: flex !important;
    }

    .chatCol {
        display: none !important;
    }
}

.chatView {
    .contactsCol {
        display: none !important;
    }

    .chatCol {
        display: block !important;
    }
}

.chatHeaderRow {
    position: relative;

    .backToContacts {
        display: none;
    }
}

@media (min-width : 1464px) {
    .chatRow .chatMessages {
        height: calc(100vh - 328px);
    }

}

@media (max-width : 1250px) {
    .chatRow {
        padding-inline: 15px !important;

    }

}

@media (max-width : 840px) {
    .chatRow .sendMSGBTN {
        font-size: 11px;
    }

    .chatRow {
        column-gap: 16px;
    }

    .chatRow.chatRowAr .sendMSGBTN img {
        height: 12px;
    }

}

@media (max-width : 575px) {
    .chatRow {
        .allContactsRow {
            max-height: unset;
        }

        .chatMessages {
            height: 58vh;
        }
        .chat-msg-status {
            max-width: 10px;
            max-height: 10px;
            width: 10px;
            height: 10px;
            min-height: 10px;
            min-width: 10px;
        }
        .iAmSender,
        .otherUserSender {
            font: normal normal 600 13px/17px Cairo;
        }

        .spacer {
            display: none;
        }

        .sendMSGBTN {
            column-gap: 4px;

            img {
                width: 10px;
            }
        }

        .my-3.px-3.row.msgFormRow {
            padding-inline-start: 0px !important;
        }
    }

    .chatView .contactsCol {
        position: fixed;
        width: calc(100% - 30px);
    }

    .chatHeaderRow {
        position: relative;

        .backToContacts {
            display: block;
        }
    }

    .chatHeaderRow .backToContacts {
        display: block;
        display: flex;
        height: 27px;
        width: 27px;
        background: #75d99c;
        border: 1px solid #75d99c;
        justify-content: center;
        border-radius: 50%;
        color: white;
        position: absolute;
        top: 10px;
        align-items: center;
        right: 9px;
        left: unset;
    }

    .chatRow.chatRowAr .chatHeaderRow .backToContacts {

        left: 9px;
        right: unset;
    }
}