.postCardContainer {
    padding:1em;
    .card {
        .card-header {
            border:none;
            background-color: transparent;

            .profile {
                width:64px;
                height: 64px;
            }
            .userName {
                span {
                    font-weight: bold;
                }
                .icon {
                    width: 19px;
                    height: 19px;
                    margin:0 5px;
                }
            }
            .location {
                color:#D4D4D4;
                .icon {
                    width: 19px;
                    height: 19px;
                    margin:0 5px 0 0 ;
                }
            }
            .options {
                display: flex;
                align-items: center;
                cursor: pointer;
                .dropdown {
                    background-color: transparent;
                    
                    .dropdown-toggle {
                            background-color: transparent;
                            border:none;
                            color:inherit;
                           &::after {
                            display: none;
                           }
                            .icon {
                               width: 30px;
                               height: 31px;
                               transition: all .3s ease-in-out;
                         
                            }
                        
                    }

                }
               
            }
            .tag {
                display: flex;
                justify-content: center;
                font-weight: bold;
                border-radius: 5px;
                .icon {
                    width:30px;
                    height: 24px;
                    margin:0 2px;
                }
        
            }
            .tag.grey {
                background-color: var(--back-color);
            }
            .tag.green {
                background-color: var(--light-green);
                color:white
            }
        }
        .card-body {
           
            .badge {
                background-color: var(--back-color);
                color:black;
                padding:5px;
                height: 31px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .iconBtn {
                display: flex;
               justify-content: end;
               cursor: pointer;
                img {

                    width: 31px;
                    height: 31px;
                }
            }
            .title {
                font-size: 1.6em;
                font-weight:bold ;
                word-spacing: 5px;
                color:var(--dark-green)
            }
            .details {
                .detail {
                    display: flex;
                    color:#D4D4D4;
                    justify-content: space-evenly;
                    img {
                        width: 21px;
                        height: 25px;
                    }
                    span {
                        margin:0 2px;
                        white-space: nowrap;
                    }
                }
            }
        }

    }
}
@keyframes resize {
    from {
      transform: scale(1);
    }           
    to {
      transform: scale(1.1);
    }
}

@media screen  and (max-width: 567px) {
    .postCardContainer {
        .card{
            .card-header {
                .profile {
                    width:44px;
                    height: 44px;
                }
                .tag {
                    font-size: small;
                }
            }
            .card-body {
                .imgsGalery {
                    height: 300px;
                }
                .iconBtn {
                  
                    img{
                        width: 24px;
                    
                    }
                }
                .details {
                    .detail {
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}