
.layoutContainer {
   
    .sidebarSection {
        background-color: white;
        transition: width .3s steps(20);
       
    }
    .otherSection {
        transition: .3s steps(20) all;
        flex: 1;

        .mainSection {

            background-color: var(--back-color);
           
        }
    }
}