.badgeContainer {
    min-height: 57px;
    .myBadge {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 2px 2px 2px grey;
        cursor: pointer;
        transition: .3s all ease-in;
        font-size: 0.8em;
        height: 30px;
    }
    .item {
       color: black;
        background-color: var(--back-color);
    }
    .selected {
        color:var(--dark-green);
        background-color: white;
        font-weight: bold;

    }
}
@media screen and (max-width:567px) {
    .badgeContainer {
        .myBadge {
            font-size: 0.6rem;
        }
    }
}