.postDetailsContainer {
position: relative;
  
    padding: 0em 0.5em 3em 1em ;
    .scrollableContainer {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 80vh;
        max-height: 80vh;
        padding:1em 1em 4em 1em;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    
        .scrollableSection {
            
            
           
            .card {
                .card-header {
                    border:none;
                    background-color: transparent;
    
                    .profile {
                        width:64px;
                        height: 64px;
                        border-radius: 100%;
                    }
                    .userName {
                        text-overflow: clip;
                        overflow: hidden;
                        span {
                            font-weight: bold;
                            word-wrap: break-word;
                        }
                        .icon {
                            width: 19px;
                            height: 19px;
                            margin:0 5px;
                            filter: invert(83%) sepia(53%) saturate(373%) hue-rotate(77deg) brightness(90%) contrast(87%);

                        }
                    }
                    .category {
                        background-color: white;
                        border:1px solid var(--light-green);
                        color:var(--light-green);
                        border-radius: 5px;
                        height: 29px;
                        text-align: center;
                        
                    }
                }
                .card-body {
                    .badge {
                        background-color: var(--back-color);
                        color:black;
                        padding:5px;
                        height: 31px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        white-space: initial;
                       
                    }
                    .iconBtn {
                        display: flex;
                    justify-content: end;
                    cursor: pointer;
                        img {
    
                            width: 31px;
                            height: 31px;
                        }
                        span {
                            font-size: 1rem;
                            font-weight: bold;
                            text-align: center;
                            margin:auto
                        }
                    }
                    .locationIcon {
                        width:16px;
                        height: 20px;
                    }
                    .mapBtn {
                        background-color: var(--light-green);
                        color:white;
                        width: 100%;
                        height: 40px;
                        display: flex;
                        justify-content: space-evenly;
                        border-radius: 10px;
                        font-size: 18px;
                        font-weight: bold;
                        img {
                            width: 18px;
                            height: 23px;
                        }
                    }
                    
                    .detail {
                        display: flex;
                        color:black;
                        justify-content: space-evenly;
                        img {
                            width: 21px;
                            height: 25px;
                        }
                        span {
                            margin:0 2px;
                            white-space: nowrap;
                        }
                    }
                    
                }
            }
       }
   .fixedSection {
    position: absolute;
    left:1rem;
    top: 1rem;
    
    .card {
        .tag {
            display: flex;
            justify-content: center;
            font-weight: bold;
            border-radius: 5px;
           font-size: 1em;
           padding: 2px;
           min-width: fit-content;
           font-size: small;
            .icon {
                width:30px;
                height: 24px;
                margin:0 2px;
            }
    
        }
        .tag.grey {
            background-color: var(--back-color);
        }
        .call {
            background-color: white;
            color:var(--light-green);
            border-radius: 5px;
            height: 29px;
            text-align: center;
            border:1px solid var(--light-green);
            background-size: cover;
            background-position: center;
            
            justify-content:right;
            align-items: center;
            display: flex;
            padding: 5px;

            span {
                font-size: 1rem;
                margin:0 3px;
            }

        }
        
        .chatBtn {
            border-radius: 10px;
            background-color: var(--light-green);
            color:white;
            display: flex;
            justify-content:center;
            justify-self: center;
            height: 40px;
            align-items: center;
            font-weight: bold;
            cursor: pointer;
            img {
                margin:0 10px 0 10px;
            }

        }
        
    }
   }
}
.fixed-chat-button {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
}
@media screen and (max-width:1024px) and (min-width:567px) {
    .postDetailsContainer {
        .scrollableSection {

            .card {

                .card-header {

                    .userName {
                        font-size: 0.8rem;
                        .icon{

                        }
                    }
                }
                .card-body {
                    .iconBtn {
                        span {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
        .fixedSection {
            .card {
                .call {
                    span {
                        font-size: 0.7rem;
                    }
                }
    
                .tag.grey {
                    font-size: 0.7rem;
                }
            }
        }
    }
}
@media screen and (max-width:567px) {
    .postDetailsContainer {
        padding: 0.5em 0em 3em 0em ;
        
        .scrollableSection {
            overflow-x: hidden;
            overflow-y: scroll;
            height: 80vh;
            max-height: 80vh;
            padding:1em 0 4em 0;
            .card {
                .card-header {
                    .userName {
                        display: flex;
                        align-items: center;
                        span {
                            font-size: 0.8rem;
                        }
                    }
                }
                .card-body {
                    .iconBtn {
                        span {
                            font-size: 0.8rem;
                        }
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .badge{
                        font-size: 0.6rem;
                    }
                }
            }
            .chatBtn {
                border-radius: 10px;
                background-color: var(--light-green);
                color:white;
                display: flex;
                justify-content:center;
                justify-self: center;
                height: 40px;
                align-items: center;
                font-weight: bold;
                img {
                    margin:0 10px 0 10px;
                }
    
            }
            .fixedSection{
                position: relative;
                left: auto;
                top:auto;
                .card {

                    .call{
                     span {
                         font-size: 0.7rem;
                     }
                    }
                }
            }
        }
    }
}