.postCardContainer {
    padding:1em;
   display: flex;
   flex-direction: column;
   min-height: 100%;
    .card {
       flex: 1;
        .card-header {
            border:none;
            background-color: transparent;

            .profile {
                width:64px;
                height: 64px;
                border-radius: 100%;
            }
            .userName {
                font-size: 1rem;
                display: flex;
                align-items: center;
                span {

                    font-weight: bold;
                }
                .icon {
                    width: 19px;
                    height: 19px;
                    margin:0 5px;
                    filter: invert(83%) sepia(53%) saturate(373%) hue-rotate(77deg) brightness(90%) contrast(87%);
                }
            }
            .location {
                color:#D4D4D4;
                .icon {
                    width: 19px;
                    height: 19px;
                    margin:0 5px 0 0 ;
                }
            }
            .options {
                display: flex;
                align-items: center;
                cursor: pointer;
                .dropdown {
                    background-color: transparent;
                    
                    .dropdown-toggle {
                            background-color: transparent;
                            border:none;
                            color:inherit;
                           &::after {
                            display: none;
                           }
                            .icon {
                               width: 30px;
                               height: 31px;
                               transition: all .3s ease-in-out;
                         
                            }
                        
                    }

                }
               
            }
            .tag {
                display: flex;
                justify-content: center;
                font-weight: bold;
                border-radius: 5px;
                font-size: 0.77rem;

                .icon {
                    width:30px;
                    height: 24px;
                    margin:0 2px;
                }
        
            }
            .tag.grey {
                background-color: var(--back-color);
                min-height: 24px;
                text-align: center;
                span {
                    display: flex;
                    align-items: center;
                }
            }
            .tag.green {
                background-color: var(--light-green);
                color:white;
                height: 100%;
            }
        }
        .card-body {
          display: flex;
            .badge {
                background-color: var(--back-color);
                color:black;
                padding:5px;
                height: 31px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: fit-content;
                span {
                    white-space: initial;
                }
            }
            .iconBtn {
                display: flex;
               justify-content: space-around;
               cursor: pointer;
                img {

                    width: 31px;
                    height: 31px;
                }
                svg {
                    width: 31px;
                    height: 31px;
                }
            }
            .likeButton {
                font-size:1rem ;
                font-weight: bold;
               span {
                margin:0 1px;
               }
            }
            .title {
                font-size: 1.1em;
                font-weight:bold ;
                word-spacing: 5px;
                color:var(--dark-green);
                text-decoration: none;
            }
            .details {
                flex:1;
                display: flex;
                min-height: 70px;
                .detail {
                    display: flex;
                    color:#D4D4D4;
                    justify-content: space-evenly;
                    img {
                        width: 21px;
                        height: 25px;
                    }
                    span {
                        margin:0 2px;
                        white-space: nowrap;
                    }
                }
            }
        }

    }
}
@keyframes resize {
    from {
      transform: scale(1);
    }           
    to {
      transform: scale(1.1);
    }
}
@media screen and (min-width:567px) and (max-width:1024px) {
    .postCardContainer {
      
        .card {
            .card-header {
               min-height: 140px;
                .tag {
                    font-size: 0.7rem;
                    align-items: center;
                }
                .userName {
                    font-size: 0.7rem;
                }
                .profile {
                    width: 44px;
                    height: 44px;
                }
                .options{
                    .dropdown {
                        .dropdown-toggle {
                            .icon{
                                width: 22px;
                                height: 25px;
                            }
                        }
                    }
                }
            }
            .card-body {
                .title {
                    font-size: 1rem;
                }
                .iconBtn {
                    img {
                        width: 22px;
                        height: 22px;
                    }
                    svg {
                        width: 22px;
                        height: 22px;
                    }
                }
                .badge {
                    font-size: 1vmin;
                }
                .details {
                    .detail {
                        justify-content: space-between;
                    }
                }
            }
        }
    }
   
}

@media screen  and (max-width: 567px) {
    .postCardContainer {
        padding:0.2em;
        .card{
            .card-header {
                .profile {
                    width:44px;
                    height: 44px;
                  
                }
                .tag {
                    font-size: small;
                }
                .userName {
                    display: flex;
                    align-items: center;
                    span{
                        font-size: 0.7rem;
                    }
                }
                .location {
                    font-size: 0.8rem;
                }
                .options {
                    .dropdown {
                        .dropdown-toggle {
                            .icon {
                                width: 20px;
                            }
                        }
                    }
                }
            }

            .card-body {
                min-height: none;
                .badge{
                    font-size: 0.6rem;
                }
                .imgsGalery {
                    height: 250px;
                }
                .iconBtn {
                  
                    img{
                        width: 24px;
                    
                    }
                    svg {
                        width: 24px;
                        min-width: 24px;
                        max-width: 24px;
                       
                    }
                }
                .details {
                    .detail {
                        justify-content: start;
                        span {
                            margin:0 10px;
                        }
                    }
                }
            }
        }
    }
}