
.buttonGreen {
    background-color: var(--light-green);
    border-radius:5px ;
    color: white;
    padding: 1px;
    height: 30px;
    box-shadow: none;
    border:var(--light-green);
    transition: all .2s ease;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        opacity: 0.8;
    }

}
.buttonWhite {
    background-color: white;
    border-radius:5px ;
    border :1px solid red;
    color: red;
    padding: 1px;
    height: 30px;
    box-shadow: none;
   
    transition: all .2s ease;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        opacity: 0.8;
    }
}
.buttonLightGreen {
    background-color: white;
    border-radius:5px ;
    color: var(--light-green);
    padding: 1px;
    height: 30px;
    box-shadow: none;
    border:var(--light-green) 1px solid;
    transition: all .2s ease;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: bold;
    &:hover, &:focus {
        opacity: 0.8;
     
        color:white;
       animation: focusEffect 1s ease-in-out forwards 1;
      
    }
    @keyframes focusEffect {
        0% {
            background-color: white;
            color:var(--light-green)
        }
        50%{

            background-color: var(--light-green);
            color:white
        }
        100%{
            background-color: white;
            color:var(--light-green)
        }
    }
}
@media screen and (min-width:567px) and (max-width:1024px) {
    .buttonGreen {
        font-size: 0.7rem;
    }
    .buttonWhite {
        font-size: 0.7rem;
    }
    .buttonLightGreen {
        font-size: 0.7rem;
    }
}