@font-face {
  font-family:'Poppins';
  src: url('./fonts/poppins/Poppins-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins/Poppins-Medium.ttf');
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins/Poppins-Regular.ttf') format('truetype');
} 
@font-face {
  font-family: 'Cairo';
  font-weight: bold;
  src: url('./fonts//cairo/Cairo\ Bold\ 700.ttf');
}
@font-face {
  font-family: 'Cairo';
  font-weight: normal;
  src: url('./fonts//cairo/Cairo\ Regular\ 400.ttf');
}
@font-face {
  font-family: 'Cairo';
  src: url('./fonts/cairo/Cairo\ Light\ 300.ttf');
  font-weight: 300;
}
:root {
  --dark-green:#035222;
  --light-green:#75D99C;
  --light-grey:#DBDBDB;
  --back-color:#F3F3F3;
  --light-gray:#C8C8C8;
  --white-back:#FBFBFB ;

}
.gy-6 {
  --bs-gutter-y:4rem !important;
}

body {
  margin: 0;
  font-family: 'Cairo'!important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.font-weight-bolder {
  font-weight: bolder ;
}